%h2 Activation
= simple_form_for @user, url: homes_invite_path do |f|
  = render 'shared/errors', object: f.object
  = f.input :email, required: true, placeholder: 'Your Email Address', input_html: {type: 'email'}
  = f.submit 'Activate User'