!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1 A New Tour Scheduled
    %p
      To confirm new tour, please click
      = link_to 'EMAIL APP SYSTEM', tour_start_users_url(email: @user.email, confirmation_token: @user.confirmation_token)